@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,700&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Nunito", sans-serif;
	font-size: 14px;
	color: black;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
}

body {
	overflow-x: hidden;
	min-height: 100vh;
}
.container {
	display: flex;
	flex-direction: column;
}
.navbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 15px 20px 15px 20px;
	position: sticky;
	top: 0;
	background-color: white;
	z-index: 1000;
}
.navbar-logo {
	width: 6.5rem;
}
.nav-links {
	text-decoration: none;
	display: flex;
	align-items: center;
}
.nav-links li {
	margin: 0 20px;
}
.form-flexy {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	gap: 50px;
	padding-bottom: 75px;
	background-color: black;
}
.form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 35px;
	padding: 30px;
	padding-bottom: 55px;
	gap: 15px;
	width: 30%;
	background-color: rgb(22, 22, 22);
	border-radius: 10px;
}
.form h1 {
	color: white;
	font-size: 12px;
}
.form input {
	color: rgb(59, 59, 59);
	text-decoration: none;
	outline-style: none;
	padding: 10px;
	width: 100%;
}
.form textarea {
	color: rgb(59, 59, 59);
	text-decoration: none;
	outline-style: none;
	padding: 10px;
	padding-bottom: 90px;
	width: 100%;
}
::placeholder {
	font-size: 10px;
	text-decoration: none;
}

.ytvideo {
	box-shadow: 3px 11px 37px -27px rgba(0, 0, 0, 0.75);
}
